@import url(reset.css);

*{
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

body{
    text-align: center;
    background-color: black;
    color: white;
}

div{
    display: block;
}

.banner{
    height: 600px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 204, 255, 0.153),rgba(0, 0, 0, 0.3)), url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 1px solid #00d5ff6f;
    padding-top: 60px;
}

.banner-content{
    width: 600px;
    margin: auto;
}

.banner .logo img{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: contain;
}

.banner .logo{
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 260px;
    height: 260px;
    border-radius: 50%;
    padding: 16px;
    margin-bottom: 16px;
}

.banner-content h1 {
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-image: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5rem;
}

.banner-content p{
    font-size: 1.25rem;
    margin: 16px 0 24px
}

.banner-content button{
    text-transform: uppercase;
    color:#33A8DB;
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 16px 32px;
    border-image: linear-gradient(#33A8DB, #1472B7);
    border-image-slice: 10;
    border-radius: 0px;
    background-color: transparent;
}

#course-content{
    align-content: center;
    width: 800px;
}

h2{
    text-transform: uppercase;
    color:#33A8DB;
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: bold;
    padding: 32px;
    font-size: 2rem;
}

section{
    margin: 100px auto;
}

.module{
    align-content: center;
    box-shadow: inset -6px 6px 12px 2px rgba(0, 0, 0, 0.635);
    background-color: #252525;
    width: 550px;
    height: 55px;
    margin: 20px auto;
    border: 1px solid #33A8DB;
    border-radius: 30px;
}

span{
    color: #2a9ccc;
}

#transform-world{
    background-image: url(../images/woman-code.png);
    height: 560px;
    border-top: 1px solid #1472B7;
    border-bottom: 1px solid #00d5ff6f;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-content: center;
}

#transform-world p{
    text-transform: lowercase;
    text-align: start;
    font-weight: 900;
    margin: 0 auto 0 200px;
    font-size: 2.5rem;
    width: 250px;
    text-shadow: 3px 3px 0px #33a8db ;
}

#professional-challenges h2{
    padding: 20px 0 60px;
}

#professional-challenges{
    width: 800px;
}

#professional-challenges p{
    padding-top: 40px;
}

footer{
    height: 190px;
    background-image: linear-gradient(black, #0a212b);
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 1px solid #00d5ff6f;
    align-content: center;
}

footer .dio-logo{
    width: 300px;
}

footer a{
    color:#2a9ccc;
    font-weight: 700;
    text-decoration: none;
}


